<main class="main">
  <input id="button" type="button" (click)="init()" value="init"/>
  <ul id="list" *ngIf="show_cats_flag">
    <li *ngFor="let item of all_animals" (click)="onClick(item.name)">name:{{item.name}} type:{{item.type}}</li>
  </ul>
  <ul id="list" *ngIf="!show_cats_flag">
    <li *ngFor="let item of all_animals" (click)="onClick(item.name)">name:{{item.name}} type:{{item.type}}</li>
  </ul>
  <input *ngIf="all_animals.length > 0" id="button" type="button" (click)="show_cats()" value="{{ show_cats_flag ? 'hide cats' : 'show cats' }}"/>
</main>
